@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin : 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    padding: 0px;
}

body{
    width: 100%;
    height: 100vh;
    
}
header{
    width:100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
}
nav{
    width:90%;
    height:11%;
    display: flex;
    margin-inline:auto;
    position:relative;
 
}
nav .logo{
      width: 10%;
 
}
 .logo img{
    font-size: small;
    height: 70px;
 }
 nav ul{
    width:55%;
    display: flex;
    list-style: none;
    margin-left: auto;
    text-decoration: none;

 }

nav ul li {
    margin:auto;
    font-size: 10px;
    text-decoration: none;
}
nav ul li:nth-child(2){
    border-bottom: 2px solid  #8D1D1D; 
}
nav ul a:not(.portal){
    text-decoration: none;
    font-size: 15px;
    color: #8D1D1D;
}
nav ul a:hover:not(.portal){
    border-bottom: 1px solid lightskyblue;
}
nav ul .portal{
    text-decoration: none;
    font-size: 13px;
    color: white;
}
nav ul li:nth-child(6){
    width: 120px;
    height: 30px;
    background-color: #8D1D1D;
    border: none;
    padding-inline: 5px;   
    border-radius: 5px;
    justify-content: center;
    display: flex;
    align-items: center;
}
h1{
    Font-family: Roboto;
    Font-style: Bold;
    Font-size: 24px;
    padding-left: 149px;
    padding-right: 149px;
    text-align: center;
    padding-bottom: 20px;
}
.paragraph-1 p{
    Font-family: Roboto;
    Font-style: Bold;
    Font-size: 16px;
    padding-left: 149px;
    padding-right: 149px;


}
h2{
    Font-family: Roboto;
    Font-style: Bold;
    Font-size: 24px;
    padding-left: 149px;
    padding-right: 149px;
    padding-bottom: 20px;
    padding-top: 20px;

}
.paragraph-2 p{
    Font-family: Roboto;
    Font-style: Mixed;
    Font-size: 16px;
    padding-left: 149px;
    padding-right: 149px;
    
}
.toggle{
    display: none;
  }
  .mobile-links{
    display: none;
  }
  
  @media screen and (max-width: 992px) {
    nav .fa-bars {
      display: block;
    }
  
    nav ul {
      display: none;
    }
  
    .portal {
      display: none;
    }
    .toggle {
      display: block;
      position: absolute;
      right: 10px;
      top: 20px;
    }
  
    .active {
      display: block !important;
    } 
  
    .mobile-links{
      display: none;
      background-color: #FFFFFF;
      position: fixed;
      right: 0;
      top: 50px;
      width: 70%;
      z-index: 100;
      text-decoration: none;
      list-style: none;
      color: #630D08;
      
  
    }
   li a {
    text-decoration: none;
    color: #630D08;
    padding: 20px;
   }

.paragraph-1 p{
    Font-family: Roboto;
    Font-style: Bold;
    Font-size: 23px;
    width: 100%;
    padding: 10%;
}
.paragraph-2 p{
    Font-family: Roboto;
    Font-style: Bold;
    Font-size: 23px;
    width: 100%;
    padding: 10%;
}
h1{
    Font-family: Roboto;
    Font-style: Bold;
    Font-size: 24px;
}
h2{
    Font-family: Roboto;
    Font-style: Bold;
    Font-size: 24px;
    padding: 5%;
  }
}